<!DOCTYPE html>
<html>
<head>
    <title>Weather Summary</title>
</head>
<body>
    <h1>Daily Weather Summary</h1>
    <table>
        <thead>
            <tr>
                <th>City</th>
                <th>Main Condition</th>
                <th>Temprature</th>
                <th>Feels Like</th>
                <th> Time Stamp</th>
            </tr>
        </thead>
        <tbody>
            {% for update in updates %}
            <tr>
                <td>{{ update.city }}</td>
                <td>{{ update.main_condition }}</td>
                <td>{{ update.temperature }}</td>
                <td>{{ update.feels_like }}</td>
                <td>{{ update.timestamp }}</td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</body>
</html>
